{% extends '../layout/base.html' %}

{% block title %}{% endblock %}

{% block head %}{% endblock %}

{% block h1 %}{% endblock %}


        
{% block content %}

{% endblock %}


{% block extra_javascript %}{% endblock %}

{% block scripts %}{% endblock %}

