BLACK = #1a1a1a
WHITE = #FFF
RED = #e22d04
REDDARK = #d65050
 

body
	color: BLACK
	font-family "Open Sans","Helvetica Neue",Helvetica,sans-serif
	font-size 16px
	padding 60px 0

	@media screen and (min-width: 768px)
		padding 109px 0
	@media screen and (min-width: 865px)
		padding 120px 0
	@media screen and (min-width: 1113px)
		padding 60px 0


	

h1
h2
h3
h4
	text-align center
	font-weight bold

h1
	font-size 1.5em
	margin 10px 0
	width 40%

	.startup-profile
		font-size 2em

div
	.clear
		clear both
		width 100%
	.separator 
		min-height 50px







